.corpocasas{
  margin-top: 130px;
}

  
.entrecasas {
  display: flex;
  text-align: center;
  margin: top 119px;
  margin-left: 59px;
  margin-bottom: 25px;
  height: 90px;
  }

  .entrecasas img {
    width:72px;
    height:84px;
  }

.entrecasas p{
  font-weight: 400;
  font-size: 24px;
  color:  #A6955A;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 25px;
  width: 250px;
}

.line {
  border: 2px;
  border-style: solid;
  width: 75%;
  height: 0px;
  margin-top: 45px;
  border-color: #A6955A;
}

.casa{
  display: flex;
  justify-content:space-evenly;
  margin: -10px 40px 10px 40px;


}

.button{
  cursor: pointer;
  background: transparent;
  border: none;
  
}

@media screen and (max-width: 420px){
  .casa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }

  .classes {
    margin-bottom: 20px;
  }
}