.fundo{
    background-image: url(../public/hp-reu-hero2\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }

  @media screen and (max-width: 420px) {
    .fundo{
      max-width: 420px;
      width: 100%;
    } 
    
  }

