.fundo{
    background-image: url(../public/hp-reu-hero2\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }

  @media(max-width:667px){
    .fundo{
      background: #031C29;
      height: 155vh;
    }
  }

  @media(max-width:425px){
    .fundo{
        background: #031C29;
        height: 152vh;
    }
}

  @media  (max-width: 375px) {
    .fundo{
    height: 156vh;
    } 
    
  }

