.topo{
    background-color:#A6955A;
    height: 103px;
    width: 100%;
}

.corpo{
    background-image: url(../../public/background_harry_azul_marinho\ 1.png);
    width: 100%;
}

.cardspersonagens{
    background-image: url(../../public/background_harry_azul_marinho\ 1.png);
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    margin: 0 auto;
    
}

.textpersonagens{
    display: flex;
    color: #A6955A;
    width: 100%;
    height: 84px;
    margin-top: 60px;
    margin-left: 40px;

}

.textpersonagens img{
    margin-right:15px ;


}

.textpersonagens p{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}


.line {
    border: 2px;
    border-style: solid;
    width: 70%;
    height: 0px;
    margin-top: 40px;
    margin-left: 30px;
    border-color: #A6955A;
    background-color: #A6955A;
  }

  .containerCards{
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px
  }


.cards {
    font: arial;
    font-size: 25px;
    font-weight: 400;
    color: #A6955A;
    text-align: center;
    position: relative;
    width: 18%;
    display: flex;
    flex-wrap: wrap;
   
    
}

.cards img{   
    width: 163px;
    height: 227px;
    border-style:solid ;
    margin-top: 80px;
    margin-left:100px ;
    margin-right: 100px;
    cursor: pointer;

}


.text {
    margin-top: 0px;
}


.openmodal{
    background: none;
    border: none;
    font: arial;
    font-size: 25px;
    font-weight: 400;
    color: #A6955A;
    text-align: center;
    position: relative;
}

.close{
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    background-color: black;
    opacity: 65%;
}

.modal{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}



@media(max-width: 1120px) {
    .containerCards .cardspersonagens {
        grid-template-columns:repeat(4, 1fr);
        gap: 30px;
        height: 2200px;
        
     }
}

@media(max-width: 850px) {
    .containerCards .cardspersonagens{
        grid-template-columns:repeat(3, 1fr);
        height: 2800px;
     }
}

@media(max-width: 640px) {
    .containerCards .cardspersonagens {
        grid-template-columns:repeat(2, 1fr);
        gap: 10px;
        height: 3800px;
     }
}

@media(max-width: 400px) {
    .containerCards .cardspersonagens{
        grid-template-columns:repeat(1, 1fr);
        height: 7250px;
     }
}