.headerpersonagens{
    background-color:#A6955A;
    height: 103px;
    width: 100%;
    margin-top: -103px;
}


.headerpersonagens img {
    margin-top: 15px;
    margin-left: 40%;
    cursor: pointer;
}

@media (max-width:630px) {
    .headerpersonagens{
        height: 130px;
    }

    .headerpersonagens img {
        width: 22%;
        margin-left: 38%;
    }
    
}

@media (max-width:425px) {
    .headerpersonagens{
        height: 200px;
    }
    .headerpersonagens img {
        width: 39%;
        margin-left: 30%;
    }
}


@media screen and (max-width: 360px){
    .headerpersonagens{
        width: 100% ;
        background-color:#A6955A;
    }
   
}