
.cards{
    display: flex;
    width: 704px;
    height: 453px;
    background-color:  #171717;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 9%;
}

.buttondiv{
    height: 21px;
    position: absolute;
    margin-top: 20px;
    width: 664px;
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: #A6955A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 25px;
    height: 25px;  
}

.imgcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.imagem{
    width: 256px;
    height: 356px;
    border: solid;
    border-color: #A6955A ;
}

.descriptioncard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.descricao{
    width:334px;
    height: 406px;
    color: #A6955A;
}

.descricao p{
    margin: 10px 0;
    font-size: 18px;
}

.descricao h1{
    font-size: 17px;
      font-weight: 400;
      margin: 4px 10px;
  }

  .descricao span{
    color: white;
    margin-left: 5px;
  }

  @media (max-width:1024px){
    .cards{
        margin-top: 26%;
    }
  }

  @media (max-width:768px){
    .cards{
    width: 74%;
    height: 600px;
    
  }

  .imgcard{
    padding: 0px;
  }

  .imagem{
    width: 360px;
    height: 473px;
  }

  .buttondiv{
    width: 70%;
  }

  .button{
    width: 40px;
    height: 40px;
  }

  .descriptioncard{
    height: 83%;
    justify-content: center;
  }

  .descricao p{
    font-size: 26px;
  }

  .descricao h1{
    font-size: 22px;
  }
}

@media (max-width:629px){
  .cards{
    width: 55%;
    height: 136vh;
    padding: 3%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptioncard{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.buttondiv{
  width: 0%;
  height: 0px;
  width:605px;
  position: unset;
}
.descricao p{
  font-size: 28px;
}

.descricao h1{
  font-size: 24px;
}
}



@media (max-width:425px){
    .cards{
        width: 74%;
        height: 100%;
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgcard{
        padding: 35px;
      }

      .imagem{
        width: 512px;
        height: 635px;
      }

      .buttondiv{
        width: 94%;
        position: relative;
      }

      .button{
        width: 65px;
        height: 65px;
        font-size: 52px;
      }

      .descricao{
        width: 834px;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
      }

      .descricao p{
        font-size: 45px;
      }
    
      .descricao h1{
        font-size: 40px;
      }
}


